In [101]:
##Q1) Create a range of numbers from 9 to 0. Print each number in the range

a=range(9,0,-1)


print(b)
for i in a:
   print(i)

range(8, 8, -1)
9
8
7
6
5
4
3
2
1

In [137]:
##Q2) Generate a list of all odd numbers between 1 and 20 using range.

a=range(1,20)

b=a[1: :2]
for i in b:
    print(i)

2
4
6
8
10
12
14
16
18

In [161]:
##Q3) Print the numbers at odd indexes in a range of numbers from 0 to 10.

a=range(0,10)

b=a[1: :2]

for i in b:
    print(i)

1
3
5
7
9

In [175]:
##Q4) Given the list fruits = ['apple', 'banana', 'cherry', 'date', 'elderberry'], print the second and fourth elements.

a=['apple', 'banana', 'cherry', 'date', 'elderberry']

a[1:4:2]

['banana', 'date']

In [177]:
##Q5) Slice the list numbers = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9] to get a new list containing only the numbers from 3 to 7.

a= [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

b=a[3:8]

print(b)

[3, 4, 5, 6, 7]

In [233]:
##Q6) Given the list colors = ['red', 'green', 'blue'], change 'green' to 'yellow'.
##Append 'grape' to the list fruits = ['apple', 'banana', 'cherry'] and then sort the list.

a=['red', 'green', 'blue']

a[1]='yellow'

print(a)

b=['apple', 'banana', 'cherry']

b.append('grape')

print(b)

b.sort()
print(b)

['red', 'yellow', 'blue']
['apple', 'banana', 'cherry', 'grape']
['apple', 'banana', 'cherry', 'grape']

In [227]:
##Q7) What is a Python list, and how is it different from other data types like tuples and strings?

##We can convert any type of values into list type of values by using list()
##Lists are mutable, which means you can modify their contents (add, remove, or change elements) after they are created.
##Lists help you keep related data together and in a specific order.
##Mutability: • Lists are mutable, meaning their contents can be modified after creation. • Indexing: • Elements in a list are indexed, starting from 0 for the first element. • You can access elements by their index, e.g., my_list[0] to access the first element.
## Common Operations:
## Adding Elements: • Use the append() method to add an element to the end of a list. • Removing Elements: • Use remove() to remove an element by value. • Use del to remove an element by index.
##Slicing: • Extract a portion of a list using slicing, e.g., my_list[1:4].
##Concatenation: • Combine two lists using the + operator, e.g., new_list = list1 + list2.
##Length: • Find the number of elements in a list using len(my_list).
## Creation: • Lists are created using square brackets []. Elements in a list are separated by commas.

In [ ]:
##a tuples maintains the order of the elements as they are added.
##You can't change the items once they're inside 
##Tuples are immutable, which means once created, you cannot modify, add, or remove elements from them. You can only create a new tuple 
##if you need to make changes.
##Syntax: Tuples are typically defined using parentheses
##Accessing Elements: Elements within a tuple can be accessed using indexing. Indexing starts from 0 
##Tuples generally consume less memory compared to lists (another common data structure), as they are immutable and don't need methods for modification. This can make them slightly faster and more memory-efficient in certain situatation.

In [ ]:
##Q9) . Exercise Description:
  ## Create a Python list called `shopping_list` with the following items: "eggs", "milk", "bread", "apples", "bananas".Perform the following operations:
   ##- Add "oranges" to the end of the list using the appropriate list method.
   ##- Remove "bread" from the list using the appropriate list method.
   ##- Print the index of "apples" in the list.
   ##- Use list slicing to print the first three items in the list.

In [9]:
shopping_list=["eggs","milks","bread","apples","bananas"]

shopping_list.append("oranges")
shopping_list.remove("bread")
print(shopping_list)

['eggs', 'milks', 'apples', 'bananas', 'oranges']

In [15]:
shopping_list[0:3]

['eggs', 'milks', 'apples']

In [11]:
shopping_list.index("apples")

2

In [ ]:
##Q10) . Exercise Description
  ## Consider the following list of numbers: `num_list = [10, 20, 30, 40, 50, 20, 30]`. Perform the following operations:
   ##- Find the index of the first occurrence of number 20 in the list and print it.
   ##- Count the number of occurrences of 30 in the list and print the count.
   ##- Print the modified list.

In [17]:
num_list=[10,20,30,40,50,20,30]

num_list.index(20)

1

In [19]:
num_list.count(30)

2

In [25]:
num_list.sort()

print(num_list)
num_list.reverse()

[10, 20, 20, 30, 30, 40, 50]

In [ ]:
##Q11) . Exercise Description:
 ##  Create two lists:
 ##  - `list1 = [1, 2, 3, 4, 5]`
   ##- `list2 = [6, 7, 8]`
   ##Perform the following operations:
   ##- Extend `list1` with the elements of `list2`.
   ##- Insert the number 10 at index 2 in `list1`.
   ##- Remove the last element from `list2`.
   ##- Print both lists.

In [29]:
a=[1,2,3,4,5]
b=[6,7,8]

a.extend(b)
print(a)

[1, 2, 3, 4, 5, 6, 7, 8]

In [39]:
a.insert(2,10)

print(a)
a.pop()

[1, 2, 10, 10, 10, 3, 4, 5, 6, 7, 8, 2]

2

In [43]:
print(a)

[1, 2, 10, 10, 10, 3, 4, 5, 6, 7]

In [49]:
a.remove(10)
print(a)

[1, 2, 10, 3, 4, 5, 6, 7]

In [61]:
print(b)
print(a)

[6, 7]
[1, 2, 10, 3, 4, 5, 6, 7, 8]

In [57]:
b.pop()

8

In [ ]:
What is a tuple in Python, and how does it differ from a list? Provide examples to illustrate the differences.
    in tuple you cant perform any function of python at list is you can performend
    in tuple create syntax is round bracket ,a list is created coloumn bracket[]
     tuple is immatuble list are mutable
Q13) Consider an empty Python tuple named `student_tuple`. Perform the following operations:
- Create a tuple named `student_tuple` containing the following elements: "John", "Doe", 25, "john.doe@example.com".
- Print the tuple `student_tuple`.
- Access and print the second element of the tuple.
- Use tuple unpacking to assign each element of the tuple to variables `first_name`, `last_name`, `age`, and `email`, and then print them.

In [63]:
student_tuple=()

print(type(student_tuple))

<class 'tuple'>

In [69]:
student_tuple=("john","doe",25,"john.doe@example.com")
print(student_tuple)
student_tuple[2]

('john', 'doe', 25, 'john.doe@example.com')

25

In [71]:
first_name,last_name,age,email=student_tuple

print(first_name,last_name,age,email)

john doe 25 john.doe@example.com

In [ ]:
##Q14) What is a set in Python, and how does it differ from a list? 
##• A set is an unordered collection of unique elements in Python.list is orderd collection of multi element in python
## you cannot access elements in a set using indexing or slicing, as you would with lists or tuples.
## Each element in a set must be unique; duplicates are not allowed.IN list duplicate allowed 
##• It is defined using curly braces {} and a comma-separated list of elements.list seprated[]

In [113]:
##Q15) Create an empty set a and add it with values 5,4,3
##Pop all the elements one by one from the set{10,20,30,40,50}

a={5}

print(type(a),a)

a.add(4)
a.add(3)
print(a)

<class 'set'> {5}
{3, 4, 5}

In [123]:
a={10,20,30,40,50}
print(a)
a.pop()

{50, 20, 40, 10, 30}

50

In [ ]:
##Q16) Consider two sets: `set1 = {1, 2, 3, 4, 5}` and `set2 = {4, 5, 6, 7, 8}`. Perform the following operations:
##- Find the intersection of `set1` and `set2` and print the result.
##- Find the difference between `set1` and `set2` and print the result.

In [125]:
a={1,2,3,4,5}
b={4,5,6,7,8}

a.intersection(b)

{4, 5}

In [127]:
a.difference(b)

{1, 2, 3}

In [131]:
a.symmetric_difference(b)

{1, 2, 3, 4, 5, 6, 7, 8}

In [133]:
a.update(b)

In [ ]:
##Q17) Consider a set named `colors = {"red", "green", "blue"}`. Perform the following operations:
  ## - Use the `add()` method to add "yellow" to the set `colors`.
   ##- Use the `remove()` method to remove "green" from the set `colors`.
   ##- Create a frozen set named `frozen_colors` from `colors`.

In [139]:
colors= {"red", "green", "blue"}
print(colors)

{'red', 'blue', 'green'}

In [141]:
colors.add("yellow")
print(colors)

{'yellow', 'red', 'blue', 'green'}

In [143]:
colors.remove("green")
print(colors)

{'yellow', 'red', 'blue'}

In [145]:
frozen_colors=frozenset(colors)
print(frozen_colors)

frozenset({'red', 'yellow', 'blue'})