In [ ]:
##Q1) What is a dictionary in Python, and how is it different from a list or tuple?

##In Python, dictionaries are mutable data structures that allow you to store key-value pairs. Dictionary can be created using the dict() 
##constructor or curly braces' {}'. Once you have created a dictionary, you can add, remove, or update elements using the methods dict. update(),
##dict. pop(), and dict.

##list are mutable tuple are immutable
##in list you can perform any list fuction in tuple only use index,differences ,dijoint,union  
##in list syntax[] tuple{}

In [ ]:
##Q2) Can keys in a dictionary be of different data types, or do they have to be of the same data type?

##In Python, dictionary keys can indeed be of different data types. You can use integers, strings, tuples, and more as keys in the same dictionary.
##The only requirement is that the keys must be immutable,
##meaning they cannot be changed after they are created

In [ ]:
##Q3) Explain the difference between the keys(), values(), and items() methods of a dictionary.
##A items Returns a view object that displays a list of all the key-value pairs
##(items) in the dictionary as tuples
##a value returns a view object that displays a list of all the values in the dictionary
##a key Returns a view object that displays a list of all the keys in the dictionary.

In [ ]:
##Q4) Create a dictionary called fruit_prices with the following key-value pairs:
##"apple": 1.00
##"banana": 0.75
##"cherry": 2.50
##"date": 1.50

In [1]:
fruit_price={"apple":1.00,"banana":0.75,"cherry":2.50,"date":1.50}

print(type(fruit_price),fruit_price)

<class 'dict'> {'apple': 1.0, 'banana': 0.75, 'cherry': 2.5, 'date': 1.5}

In [5]:
fruit_price.pop("cherry")

2.5

In [7]:
print(fruit_price)

{'apple': 1.0, 'banana': 0.75, 'date': 1.5}

In [ ]:
##Q5) Create a Python dictionary called `student_scores` with the following key-value pairs: "John" -> 85, "Alice" -> 90, "Bob" -> 75, "Emma" -> 95.
##Perform the following operations:
##- Add "Mike" with a score of 80 to the dictionary.
##- Remove "Bob" from the dictionary.
##- Print the score of "Alice".
##- Print the dictionary keys

In [11]:
student_scores={"John" :85, "Alice" : 90, "Bob" : 75, "Emma" : 95}

print(student_scores)

{'John': 85, 'Alice': 90, 'Bob': 75, 'Emma': 95}

In [25]:
student_scores.update({"mike":80})

In [31]:
student_scores.pop("Bob")
print(student_scores)

{'John': 85, 'Alice': 90, 'Emma': 95, 'mike': 80}

In [35]:
student_scores["Alice"]

90

In [37]:
student_scores.keys()

dict_keys(['John', 'Alice', 'Emma', 'mike'])

In [ ]:
##Q6) Create two dictionaries:
##- `dict1 = {"A": 1, "B": 2, "C": 3}`
##- `dict2 = {"D": 4, "E": 5}`
##Perform the following operations:
##- Merge `dict2` into `dict1`.
##- Remove the key "B" from `dict1`.
##- Print both dictionaries.

In [41]:
a={"A": 1, "B": 2, "C": 3}

b={"D": 4, "E": 5}

print(type(a),a,b)

<class 'dict'> {'A': 1, 'B': 2, 'C': 3} {'D': 4, 'E': 5}

In [65]:
a.update(b)

In [73]:
print(a,b)

{'A': 1, 'C': 3, 'D': 4, 'E': 5} {'D': 4, 'E': 5}

In [71]:
a.pop("B")

2

In [83]:
##Q7) Given three variables a, b, and c, evaluate the following expression and determine if it is True or False:
a = 5
b = 10
c = 3

print(a + b > c) and (b - c < a) and (a * c > b)

print(a+b>c) 
print(b-c<a)
print(a*c>b)

True
True
False
True

In [85]:
print(a + b > c) and (b - c < a) and (a * c > b)

True

In [87]:
##Q8) Given three variables x, y, and z, evaluate the following expression and determine if it is True or False:
x = 8
y = 4
z = 2
result = (x / z == y) or (x - y < z) or (y * z == x)

print(x / z == y) or (x - y < z) or (y * z == x)

True

True

In [89]:
##Q9) Given three variables p, q, and r, evaluate the following expression and determine if it is True or False:
p = 7
q = 5
r = 2
result = not (p - q <= r) and (q + r == p) and not (r * p < q)

print(not (p - q <= r) and (q + r == p) and not (r * p < q))

False

In [91]:
print(p-q<=r)

True

In [95]:
##Q10) Given three variables a, b, and c, evaluate the following expression and determine if it is True or False:
a = 9
b = 3
c = 6
result = (a % b == 0) and (b + c == a) or not (a / c < b)

print (a % b == 0) and (b + c == a) or not (a / c < b)

True

False

In [101]:
print(a / c )

1.5

In [93]:
print(a%b==0)

False

In [107]:
##Q11) Given three variables m, n, and o, evaluate the following expression and determine if it is True or False:
m = 12
n = 4
o = 6

print((m >= n) or (n <= o)) and not (o == m)

True

In [113]:
##Q12) Given three variables m, n, and o, evaluate the following expression and determine if it is True or False:
m = 10
n = 2
o = 5

print(m % n == 0) and ((n + o) == m // 2) or not (m < o)

True

True

In [111]:
print(m//2)

6