In [4]:
start= 2
stop=7

while start<=stop:
    i=1
    while i<=10:
        print(f"{start}*{i}={start*i}")
        i=i+1
        start=start+1

2*1=2
3*2=6
4*3=12
5*4=20
6*5=30
7*6=42
8*7=56
9*8=72
10*9=90
11*10=110

In [27]:
a=[1,2,3,4,5,6,7,8]

b=[]

for i in a:
    if i % 2 == 0:
        b.append(i**2)
        print(b)

[4]
[4, 16]
[4, 16, 36]
[4, 16, 36, 64]

In [ ]:
sum()

In [1]:
def squareroot(x):
    a=x**2
    return a

squareroot(3)

9

In [ ]:
def maximum():
    a=int(input("enter the list:-"))

In [5]:
even_odd=lambda x: x if x%2==0 else "odd number"

even_odd(34)

34

In [11]:
num=lambda a,b: a+b

num(5,6)

11

In [15]:
b=["apple","mango","grapes","kiwi","watermelon"]

In [23]:
length=list(map(lambda x:len(x),b))
length

[5, 5, 6, 4, 10]

In [27]:
reverse=list(map(lambda x:x[::-1],b))
reverse

['elppa', 'ognam', 'separg', 'iwik', 'nolemretaw']

In [47]:
results=dict(map(lambda items:(items[0],items[1]*2,b()))

SyntaxError: incomplete input (2116819412.py, line 1)

In [43]:
b={"apple":2,"mango":4,"grapes":6,"kiwi":4,"watermelon":5}

In [53]:
results=list(map(lambda items:(items[0],items[1]*2,b())))

TypeError: map() must have at least two arguments.

In [65]:
b={"apple":2,"mango":4,"grapes":6,"kiwi":4,"watermelon":5}

In [81]:
def val(x):
    return x>4

great_val=dict(filter(lambda items:val(items[1]),b.items()))
great_val

{'grapes': 6, 'watermelon': 5}

In [11]:
def apply_discount(item, amount, off, code):
    total_amount = amount
    
    # Check if the discount code is valid
    if code == "FLATOFF":
        # Apply the discount
        total_amount -= off
    else:
        print("Invalid discount code!")

    return total_amount

# Given values
item = "Burger"
amount = 569
off = 100
code = "FLATOFF"

# Call the function to apply discount
final_amount = apply_discount(item, amount, off, code)

# Print the final amount after discount
print("Final amount after discount for", item, ":", final_amount)

Final amount after discount for Burger : 469

In [17]:
def discount(item,amount,off,code):
    total_amount=amount
    if code=="FLATOFF":
        total_amount-=off
    else:
        print("invalid discount code!")
    return total_amount


item="pizza"
amount=850
off=100
code="FLATOFF"

final_amount=discount(item,amount,off,code)

print("final amount after discount for ",item,":",final_amount)

final amount after discount for  pizza : 750

In [35]:
#Q1) Write a function is_even(num) that returns True if the number is even, and False if it is odd.

def even(x):
    if x%2==0:
        return("true")
    else:
        return("false")


even(6)

'true'

In [53]:
#Q2) Write a function factorial(n) that returns the factorial of a given number.

def factorial(x):
    if x==0 or x==1:
        return 1
    else:
        return x*factorial(x-1)

n(4)

24

In [86]:
#Q3) Write a function find_max(lst) that returns the maximum value in a list of numbers.


def find_max(x):
    # Initialize max_value with the first element of the list
    max_value = x[0]
    
    # Loop through the list to find the max value
    for value in x:
        if value > max_value:
            max_value = value
    
    return max_value


values = [23, 7, 45, 12, 100, 31, 18]
print(find_max(values))

100

In [100]:
#Q4) Write a function count_vowels(s) that counts the number of vowels in a given string.

def vowels_count(x):

    vowels="aeiouAEIOU"
    count=0

    for text in x:
        if text in vowels:
          count+=1
    return count

b="hello, python"
print(vowels_count(b))

3

In [5]:
#Q5) Write a function sum_of_squares(n) that returns the sum of the squares of the first n natural numbers.

def sum_of_squares(n):

    total=0
    
    for i in range(1,n+1):
        total+=i*i
    return total

result = sum_of_squares(5)
print(f"The sum of the squares of the first 5 number is:- {result}")

The sum of the squares of the first 5 number is:- 55

In [114]:
#Q6) Write a function merge_sorted_lists(lst1, lst2) that takes two sorted lists and returns a new sorted list containing all the elements
#from both lists.

def merge_sorted_list(x,y):

    merge_list=[]
    i=0
    j=0

    for _ in range(len(x)+len(y)):
        if i < len(x) and (j >= len(y) or x[i] <= y[j]):
            merge_list.append(x[i])
            i+=1
        else:
            merge_list.append(y[j])
            j+=1
    return merge_list

a= [1, 3, 5, 7,6]
b= [2, 4, 6, 8,7]
print(merge_sorted_list(a,b))

[1, 2, 3, 4, 5, 6, 7, 6, 8, 7]

In [118]:
#Q7) Write a function remove_duplicates(lst) that takes a list and returns a new list with duplicates removed, keeping only the first occurrence of 
#each element.

def remove_duplicates(x):
    unique_list=[]
    for i in x:
        if i not in unique_list:
            unique_list.append(i)
    return unique_list

a= [1,2,2,4,7, 3, 5, 7,6]

print(remove_duplicates(a))

[1, 2, 4, 7, 3, 5, 6]

In [ ]:
def remove_duplicates(lst):
    # Initialize an empty list to store unique elements
    unique_list = []
    
    # Loop through each element in the original list
    for item in lst:
        if item not in unique_list:
            unique_list.append(item)
    
    return unique_list

# Example usage
lst = [1, 2, 2, 3, 4, 4, 5]
print("List with duplicates removed:", remove_duplicates(lst))