# List Data Type

A list is a built-in data structure that allows you to store a collection of items, such as numbers, strings, or other objects, in a single variable. It is one of the predefined class and treated as list data type. We can convert any type of values into list type of values by using list(). Lists are mutable, which means you can modify their contents (add, remove, or change elements) after they are created.

A list is like a container that can hold multiple pieces of information, such as numbers, words, or even other lists. It's like a shopping list where you can jot down different items you need to buy. Lists help you keep related data together and in a specific order. You can add new items, remove items, change items, or just see what's in the list. It's a useful tool to work with collections of data in your programs

•	Definition:
•	A list is a built-in data type in Python.
•	Lists are used to store a collection of items, which can be of different data types (e.g., numbers, strings, or even other lists).

•	Creation:
•	Lists are created using square brackets [].
•	Elements in a list are separated by commas.

•	Mutability:
•	Lists are mutable, meaning their contents can be modified after creation.

•	Indexing:
•	Elements in a list are indexed, starting from 0 for the first element.
•	You can access elements by their index, e.g., my_list[0] to access the first element.

•	Common Operations:

•	Adding Elements:
•	Use the append() method to add an element to the end of a list.
•	Removing Elements:
•	Use remove() to remove an element by value.
•	Use del to remove an element by index.

•	Slicing:
•	Extract a portion of a list using slicing, e.g., my_list[1:4].

•	Concatenation:
•	Combine two lists using the + operator, e.g., new_list = list1 + list2.

•	Length:
•	Find the number of elements in a list using len(my_list).

•	Checking for Element:
•	Determine if an element exists in a list using in, e.g., if x in my_list:.

•	Iterating:
•	Use loops (e.g., for loops) to iterate through the elements of a list.

•	Nested Lists:
•	Lists can contain other lists as elements, creating nested structures.

•	List Comprehensions:
•	Python supports list comprehensions, which provide a concise way to create lists based on existing lists.

•	Common Use Cases:
•	Lists are widely used for data storage, manipulation, and processing.
•	They are suitable for scenarios where you need an ordered collection of items.

Two types of lists: Empty lists and Non-Empty lists.
1.	Empty List: An empty list, as the name suggests, is a list that contains no elements. It is a collection of items, but there's nothing in it. In programming, an empty list is often denoted by square brackets with nothing inside: []. This can be useful when you want to initialize a list that you plan to populate with data later on. For example, in Python:

empty_list = [] 
Empty lists can be used as placeholders, and you can append or insert items into them as needed.
2.	Non-Empty List: A non-empty list is a list that contains one or more elements. These elements can be of any data type, such as numbers, strings, objects, or even other lists. Non-empty lists are typically created with the items enclosed in square brackets and separated by commas. For instance, in Python:

non_empty_list = [1, 2, 3, 4, 5] 
Non-empty lists are widely used in programming to store and manipulate collections of data. They provide a way to group related information together, making it easier to work with and process the data.

In [2]:
a  = [23,True,3+4j,45.64,"Python","23",63.46]
print(a,type(a),id(a))

[23, True, (3+4j), 45.64, 'Python', '23', 63.46] <class 'list'> 1436848655360

In [3]:
a = "Python Programming"
b = list(a)
print(b,type(b),id(b))

['P', 'y', 't', 'h', 'o', 'n', ' ', 'P', 'r', 'o', 'g', 'r', 'a', 'm', 'm', 'i', 'n', 'g'] <class 'list'> 1436842360448

In [4]:
a = 3535457
b = list(a)
print(b,type(b),id(b))

TypeError: 'int' object is not iterable

In [6]:
a  = [23,True,3+4j,45.64,"Python","23",63.46]
print(a,type(a),id(a))

a[-3] = "Scala"

print(a,type(a),id(a))

a.append(100)

print(a,type(a),id(a))

a.remove("Scala")

print(a,type(a),id(a))

[23, True, (3+4j), 45.64, 'Python', '23', 63.46] <class 'list'> 1436876788608
[23, True, (3+4j), 45.64, 'Scala', '23', 63.46] <class 'list'> 1436876788608
[23, True, (3+4j), 45.64, 'Scala', '23', 63.46, 100] <class 'list'> 1436876788608
[23, True, (3+4j), 45.64, '23', 63.46, 100] <class 'list'> 1436876788608

In [8]:
a = []
print(a,type(a),len(a))

[] <class 'list'> 0

In [10]:
a  = [23,True,3+4j,45.64,"Python","23",63.46,34.56,"Programming",False]
print(a,type(a),id(a),len(a))

[23, True, (3+4j), 45.64, 'Python', '23', 63.46, 34.56, 'Programming', False] <class 'list'> 1436877066048 10

In [11]:
a[-2:-9:-2]
# -2 = "programming"
# -9 = -9+1 = -8 = 3+4j
# -2 =

['Programming', 63.46, 'Python', (3+4j)]

In [12]:
a[2:3]

[(3+4j)]

In [13]:
a[2:9]

[(3+4j), 45.64, 'Python', '23', 63.46, 34.56, 'Programming']

In [14]:
# method of List

In [15]:
a  = [23,True,3+4j,45.64,"Python","23",63.46,34.56,"Programming",False]

print(a)

[23, True, (3+4j), 45.64, 'Python', '23', 63.46, 34.56, 'Programming', False]

In [16]:
a.append(100)

In [17]:
print(a)

[23, True, (3+4j), 45.64, 'Python', '23', 63.46, 34.56, 'Programming', False, 100]

In [18]:
a.append(120,363)

TypeError: list.append() takes exactly one argument (2 given)

In [ ]:
a.clear()

In [19]:
a.count(23)

1

In [20]:
print(a)

[23, True, (3+4j), 45.64, 'Python', '23', 63.46, 34.56, 'Programming', False, 100]

In [21]:
b= [1,2,3,4,5]
a.extend(b)
print(a)

[23, True, (3+4j), 45.64, 'Python', '23', 63.46, 34.56, 'Programming', False, 100, 1, 2, 3, 4, 5]

In [ ]:
a.extend([3,6,7,3,7,37])

In [22]:
a.index(False)

9

In [26]:
a.index(45.64,5,8)

ValueError: 45.64 is not in list

In [27]:
print(a)

[23, True, (3+4j), 45.64, 'Python', '23', 63.46, 34.56, 'Programming', False, 100, 1, 2, 3, 4, 5]

In [28]:
a.insert(3,99)

In [29]:
print(a)

[23, True, (3+4j), 99, 45.64, 'Python', '23', 63.46, 34.56, 'Programming', False, 100, 1, 2, 3, 4, 5]

In [ ]:
# a.pop(index)
# a.pop()

In [30]:
print(a.pop(-2))

4

In [31]:
print(a)

[23, True, (3+4j), 99, 45.64, 'Python', '23', 63.46, 34.56, 'Programming', False, 100, 1, 2, 3, 5]

In [32]:
print(a.pop())

5

In [33]:
a.remove("Python")

In [34]:
print(a)

[23, True, (3+4j), 99, 45.64, '23', 63.46, 34.56, 'Programming', False, 100, 1, 2, 3]

In [38]:
print(a.remove(True))

None

In [39]:
print(a)

[23, (3+4j), 99, 45.64, '23', 63.46, 34.56, 'Programming', False, 100, 1, 2, 3]

In [40]:
a.reverse()

In [41]:
print(a)

[3, 2, 1, 100, False, 'Programming', 34.56, 63.46, '23', 45.64, 99, (3+4j), 23]

In [42]:
d = a.reverse()
print(d)

None

In [43]:
print(a)

[23, (3+4j), 99, 45.64, '23', 63.46, 34.56, 'Programming', False, 100, 1, 2, 3]

In [44]:
a.sort()

TypeError: '<' not supported between instances of 'complex' and 'int'

In [48]:
a= [15,23,4,247,83,34.0,2353,84,267,267,934,True]
a.sort()
print(a)

[True, 4, 15, 23, 34.0, 83, 84, 247, 267, 267, 934, 2353]

In [51]:
a.sort(reverse=True)

In [50]:
print(a)

[2353, 934, 267, 267, 247, 84, 83, 34.0, 23, 15, 4, True]

In [52]:
b = a.copy() # Shallow Copy

print(a,type(a),id(a))
print(b,type(b),id(b))

[2353, 934, 267, 267, 247, 84, 83, 34.0, 23, 15, 4, True] <class 'list'> 1436882812416
[2353, 934, 267, 267, 247, 84, 83, 34.0, 23, 15, 4, True] <class 'list'> 1436882075264

In [53]:
d = b # Deep Copy

print(b,type(b),id(b))
print(d,type(d),id(d))

[2353, 934, 267, 267, 247, 84, 83, 34.0, 23, 15, 4, True] <class 'list'> 1436882075264
[2353, 934, 267, 267, 247, 84, 83, 34.0, 23, 15, 4, True] <class 'list'> 1436882075264

In [54]:
print(a)

[2353, 934, 267, 267, 247, 84, 83, 34.0, 23, 15, 4, True]

In [55]:
del a[2:5]

In [56]:
print(a)

[2353, 934, 84, 83, 34.0, 23, 15, 4, True]

In [57]:
sum(a)

3531.0

In [58]:
min(a)

True

In [59]:
max(a)

2353

In [64]:
print(a)

[2353, 934, 84, 83, 34.0, 23, 15, 4, True]

In [65]:
average_of_list =  sum(a)/len(a)
print(average_of_list)

# avg = sum of all elements/ count of elements

392.3333333333333

In [69]:
a = ["Max","jones","Mark","Robert","miles"]
max(a)

TypeError: '>' not supported between instances of 'int' and 'str'

In [72]:
even_num = list(range(2,21,2))
print(even_num)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [73]:
a = [[1,2,3],[4,5,6],[7,8,9],[10,11,12]]

print(a,type(a))

[[1, 2, 3], [4, 5, 6], [7, 8, 9], [10, 11, 12]] <class 'list'>

In [74]:
for i in a:
    print(i)

[1, 2, 3]
[4, 5, 6]
[7, 8, 9]
[10, 11, 12]

In [75]:
a[-2]

[7, 8, 9]

In [76]:
a.append(13)

print(a)

[[1, 2, 3], [4, 5, 6], [7, 8, 9], [10, 11, 12], 13]

In [77]:
a[-2].append(13)

print(a)

[[1, 2, 3], [4, 5, 6], [7, 8, 9], [10, 11, 12, 13], 13]

In [78]:
a[-2].extend([14,15,16])

print(a)

[[1, 2, 3], [4, 5, 6], [7, 8, 9], [10, 11, 12, 13, 14, 15, 16], 13]

In [79]:
# List Concatenation

In [80]:
a= [1,2,3]
b= [4,5,6]
c= a+b

In [81]:
print(a+b)

[1, 2, 3, 4, 5, 6]

In [82]:
print(c)

[1, 2, 3, 4, 5, 6]

In [83]:
c+2

TypeError: can only concatenate list (not "int") to list

In [84]:
c*2

[1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6]

# Tuple Data Type

A tuple is an ordered collection of elements, usually of different data types. It maintains the order of the elements as they are added.

An object of tuple maintains Insertion Oder i.e. In whichever Order, we insert the data, in the same order we get the output

Think of a tuple like a special bag where you can put different items in a specific order. You can't change the items once they're inside the bag, and you can't add or remove anything from it. Each item has a number that shows its place in the bag, starting from 0 for the first item. Tuples are often used when you want to keep a few related things together, like coordinates or pieces of information. They're like a fixed set of things that you can look at, but you can't change what's inside.

Immutable: Tuples are immutable, which means once created, you cannot modify, add, or remove elements from them. You can only create a new tuple if you need to make changes.

Syntax: Tuples are typically defined using parentheses () and separating elements with commas. For example: (1, "apple", 3.14).

 Heterogeneous: Tuples can hold elements of different data types. For instance, a tuple can contain an integer, a string, and a floating-point number in the same order.

 Accessing Elements: Elements within a tuple can be accessed using indexing. Indexing starts from 0 for the first element, 1 for the second, and so on. For example, in the tuple (1, 2, 3), 1 is accessed using index 0.

 Use Cases: Tuples are often used to represent a collection of related values that need to be kept together. For instance, storing coordinates (x, y) or date-time information (year, month, day, hour, minute, second).

 Function Returns: Tuples are commonly used to return multiple values from a function. This allows you to return a structured set of values instead of using separate return statements.

 Unpacking: You can unpack the elements of a tuple into individual variables. This is particularly useful when a function returns a tuple, and you want to assign its elements to different variables.

 Comparing Tuples: Tuples can be compared element-wise. The comparison starts from the first element of each tuple. If they're equal, the second elements are compared, and so on.

 Size and Performance: Tuples generally consume less memory compared to lists (another common data structure), as they are immutable and don't need methods for modification. This can make them slightly faster and more memory-efficient in certain situations.

There are two types of tuples

Non Empty Tuple

Empty Tuple

In [86]:
a = () # Empty Tuple
print(a,type(a))

() <class 'tuple'>

In [87]:
a = (1,2,3,4,5) # Non Empty Tuple
print(a,type(a))

(1, 2, 3, 4, 5) <class 'tuple'>

In [88]:
a[2]

3

In [89]:
a[2:4]

(3, 4)

In [90]:
a[2]=100

TypeError: 'tuple' object does not support item assignment

In [91]:
print(a)

(1, 2, 3, 4, 5)

In [92]:
a = (1,2,3,4,5,2,3,1,5,2,5,1,4,2,5,2)


print(a)

(1, 2, 3, 4, 5, 2, 3, 1, 5, 2, 5, 1, 4, 2, 5, 2)

In [93]:
a.count(5)

4

In [98]:
a.index(2,6)

9

In [100]:
d = a

print(a)
print(d)

(1, 2, 3, 4, 5, 2, 3, 1, 5, 2, 5, 1, 4, 2, 5, 2)
(1, 2, 3, 4, 5, 2, 3, 1, 5, 2, 5, 1, 4, 2, 5, 2)

In [101]:
min(a)

1

In [102]:
max(a)

5

In [103]:
sum(a)

47

In [104]:
a = 3,4,2,5,5 # tuple packing
print(a,type(a))

(3, 4, 2, 5, 5) <class 'tuple'>

In [105]:
print(a)

(3, 4, 2, 5, 5)

In [106]:
e,f,g,h,i = a # tuple unpacking
print(e)
print(f)
print(g)
print(h)
print(i)

3
4
2
5
5

In [107]:
e,f,g,h = a
print(e)
print(f)
print(g)
print(h)

ValueError: too many values to unpack (expected 4)

In [108]:
a = ((1,2),(3,4),(5,6),(6,7),(8,9))
print(a,type(a))

((1, 2), (3, 4), (5, 6), (6, 7), (8, 9)) <class 'tuple'>

In [110]:
b = a[2]
print(b,type(b))

(5, 6) <class 'tuple'>

In [111]:
a = ((1,2),(3,4),[1,2,3,4,5],(6,7),(8,9),[8,9,10])
print(a,type(a))

((1, 2), (3, 4), [1, 2, 3, 4, 5], (6, 7), (8, 9), [8, 9, 10]) <class 'tuple'>

In [113]:
a[2].append(100)

In [114]:
print(a)

((1, 2), (3, 4), [1, 2, 3, 4, 5, 100], (6, 7), (8, 9), [8, 9, 10])

In [115]:
a.append(100)

AttributeError: 'tuple' object has no attribute 'append'

# Set Data Type

•	A set is an unordered collection of unique elements in Python.

•	Unordered Collection: It means that the elements in a set do not have a specific order or sequence. When you create a set or add elements to it, Python does not maintain the order in which the elements were inserted. Therefore, you cannot access elements in a set using indexing or slicing, as you would with lists or tuples. The lack of order means that you cannot rely on the position of elements within a set.

•	Unique Elements: Each element in a set must be unique; duplicates are not allowed. When you add an element to a set that is already present, the set will not store the duplicate. It will only keep one instance of that element. This property ensures that every element in a set is distinct.

•	Mutable and add() method: Sets are mutable, which means you can modify them after they are created. The add() method is used to insert a single element into the set. For example:

•	my_set = {1, 2, 3}    	my_set.append()			my_set[2]=34

•	my_set.add(4) 	# Now the set is {1, 2, 3, 4} 

•	Immutable and item assignment: Sets do not support item assignment like lists or other mutable collections. This means you cannot change the value of a specific element in a set by using an index because sets don't have a concept of ordering and indexing. For example:

•	my_set = {1, 2, 3} 

•	my_set[1] = 5 # This will raise an error

•	It is defined using curly braces {} and a comma-separated list of elements.


Creating a set

•	my_set = {element1, element2, element3, ...,element n}

•	Sets automatically remove duplicate elements, ensuring that each element appears only once in the set.

•	Python sets are mutable, meaning you can add or remove elements after creating the set.

•	Unlike lists or tuples, sets do not support indexing or slicing because they are unordered.


  Why Sets were Introduced in Python
  
•	Sets were introduced in Python to provide a built-in data type for efficiently managing collections of unique elements. The introduction of sets in Python has several motivations and use cases:

•	Uniqueness: Sets ensure that each element in the collection is unique. Duplicates are automatically removed when you add elements to a set. This makes sets a convenient choice when dealing with data that should not contain repeated elements.

•	Fast Membership Testing: Sets offer constant-time (O(1)) membership testing. You can quickly check whether an element is present in a set, regardless of the size of the set. This property makes sets suitable for scenarios where you frequently need to check for the existence of elements.

•	Set Operations: Sets support various set operations like union, intersection, difference, and symmetric difference. These operations are fundamental in many applications, including data manipulation, mathematical modeling, and algorithm design.

•	Mathematical Modeling: Sets are essential in mathematical modeling, where the concept of collections with unique elements is frequently used. Sets provide an easy and intuitive way to represent these mathematical sets and perform operations on them.

•	Data Cleaning: When dealing with datasets, sets can be used to filter unique items or remove duplicates efficiently, simplifying data cleaning tasks.


BASIS	SET	LIST

Creation	You create a set with the set() constructor or curly braces.	You create a list with the list() constructor or square brackets.

Duplicate	A set cannot have duplicate values. All values must be unique.	A list can have duplicate values.

Order	A set is unordered. When you print the items in a list, they don't come in the order you arranged them.	A list is ordered. When printed, the items in the list are returned in the same order put in.

Mutation	You can't change the items of a set, but you can add to the set and remove from it.	You can change the items in a list and you can add to the list.


Empty Set
a={}
print(type(a2))
Result:- <class 'dict'>

In Python, when you use empty curly braces {} without any elements inside, it creates an empty dictionary, not an empty set. This can be confusing, but it's due to the historical design of the language.

To create an empty set, you should use the set() constructor, like this:
a = set()
print(type(a)) 

Output: <class 'set'>


my_set = {1, 2, 3, 4, 5}

 Trying to access an element using subscript notation
element = my_set[3]  # This line will raise the TypeError
TypeError: 'set' object is not subscriptable

The error message "TypeError: 'set' object is not subscriptable" occurs when you try to access an element from a set using the subscript notation ([]). In Python, sets do not support indexing, which means you cannot access elements in a set using numerical indices like you would with lists, tuples, or strings.

•	TypeError: This is the type of error, indicating that you are attempting an operation that is not allowed on the data type.

•	'set' object is not subscriptable: This part of the error message specifies that the specific data type causing the error is a set, and the issue is related to subscripting (using []) to access elements.

Predefined set operations

my_set = {1, 2, 3, 4, 5}

 1. len(set) - Returns the number of elements in the set.
length = len(my_set)
print(length)  # Output: 5

 2. x in set - Checks if 'x' is a member of the set.
print(2 in my_set)  # Output: True
print(6 in my_set)  # Output: False


 3. x not in set - Checks if 'x' is not a member of the set.
print(2 not in my_set)  # Output: False
print(6 not in my_set)  # Output: True

 4. set.add(elem) - Adds 'elem' to the set.
my_set.add(6)
print(my_set)  # Output: {1, 2, 3, 4, 5, 6}

 5. set.remove(elem) - Removes 'elem' from the set. Raises KeyError if 'elem' is not found.
my_set.remove(3)
print(my_set)  # Output: {1, 2, 4, 5, 6}

 6. set.discard(elem) - Removes 'elem' from the set if present, otherwise does nothing.
my_set.discard(10)  # Does nothing as 10 is not in the set.
print(my_set)  # Output: {1, 2, 4, 5, 6}

 7. set.pop() - Removes and returns an arbitrary element from the set. Raises KeyError if the set is empty.
popped_element = my_set.pop()
print(popped_element)  # Output: 1 (Note: The actual element removed may vary)
print(my_set)  # Output: {2, 4, 5, 6}

 8. set.clear() - Removes all elements from the set.
my_set.clear()
print(my_set)  # Output: set()


 Let's recreate the set for further operations
my_set = {1, 2, 3, 4, 5}

 9. set.union(*others) or set | other - Returns a new set with elements from the set and all others.
set2 = {4, 5, 6, 7}
union_set = my_set.union(set2)
print(union_set)  # Output: {1, 2, 3, 4, 5, 6, 7}

 10. set.intersection(*others) or set & other - Returns a new set with elements common to the set and all others.
intersection_set = my_set.intersection(set2)
print(intersection_set)  # Output: {4, 5}

 11. set.difference(*others) or set - other - Returns a new set with elements in the set that are not in the others.
difference_set = my_set.difference(set2)
print(difference_set)  # Output: {1, 2, 3}

 12. set.symmetric_difference(other) or set ^ other - Returns a new set with elements in either the set or 'other', but not both.
symmetric_difference_set = my_set.symmetric_difference(set2)
print(symmetric_difference_set)  # Output: {1, 2, 3, 6, 7}

 13. set.update(*others) or set |= other - Updates the set, adding elements from all others.
my_set.update(set2)
print(my_set)  # Output: {1, 2, 3, 4, 5, 6, 7}

 14. set.intersection_update(*others) or set &= other - Updates the set, keeping only elements found in both the set and all others.
my_set.intersection_update(set2)
print(my_set)  # Output: {4, 5}

 15. set.difference_update(*others) or set -= other - Updates the set, removing elements found in any of the others.
my_set.difference_update(set2)
print(my_set)  # Output: set()

 Let's recreate the set for further operations
my_set = {1, 2, 3, 4, 5}

 16. set.issubset(other) or set <= other - Checks if the set is a subset of 'other'.
print(my_set.issubset(set2))  # Output: False
print({4, 5}.issubset(my_set))  # Output: True

 17. set.issuperset(other) or set >= other - Checks if the set is a superset of 'other'.
print(my_set.issuperset(set2))  # Output: False
print(my_set.issuperset({1, 2}))  # Output: True

 18. set.isdisjoint(other) - Checks if the set has no elements in common with 'other'.
print(my_set.isdisjoint(set2))  # Output: False
print({0}.isdisjoint(my_set))  # Output: True







In Python, a set is a mutable collection of unique elements. When you copy a set, there are two main types of copying: shallow copy and deep copy. These concepts apply to mutable objects, such as sets, and have different implications depending on how the copies are made.

1.	Shallow Copy:

•	A shallow copy of a set creates a new set object, but it does not create copies of the elements inside the set. Instead, it copies references to the same elements as the original set. In other words, the new set is a separate object, but the elements themselves are not duplicated.

•	Any modifications made to the elements within the shallow copy will not be reflected in the original set and vice versa since they point to the same objects in memory.

•	You can create a shallow copy using the set.copy() method or the built-in set() constructor.
Example of a shallow copy:
original_set = {1, 2, 3}
shallow_copy_set = original_set.copy() 
print(original_set) 

 Output: {1, 2, 3} 
print(shallow_copy_set)

 Output: {1, 2, 3}
shallow_copy_set.add

(4) print(original_set) 
 Output: {1, 2, 3, 4} 
print(shallow_copy_set) 
 Output: {1, 2, 3, 4} 




2.	Deep Copy:

•	A deep copy of a set creates a new set object and also makes copies of all the elements inside the original set. This means that the new set is entirely independent of the original set, and modifications to one will not affect the other.

•	The elements inside the deep copy are created as separate objects in memory, so changes to these elements  affect the original set or any other copies.

•	To create a deep copy, you can use the copy.deepcopy() function from the copy module.

Example of a deep copy:

import copy original_set = {1, 2, 3} 
deep_copy_set = copy.deepcopy(original_set) 
print(original_set) # Output: {1, 2, 3} 
print(deep_copy_set) # Output: {1, 2, 3} 
deep_copy_set.add(4) 
print(original_set) 
 Output: {1, 2, 3} 
print(deep_copy_set) 
 Output: {1, 2, 3, 4} 

A shallow copy creates a new set object but shares the same elements with the original set, while a deep copy creates a new set object and copies all elements independently. The choice between a shallow copy and a deep copy depends on whether you want changes in one set to affect the other or if you need independent copies with no shared references.

In [119]:
a = {}
print(a,type(a),id(a))

{} <class 'dict'> 1436881974912

In [122]:
a = {1}
print(a,type(a),id(a))

{1} <class 'set'> 1436882575072

In [123]:
a  = set()
print(a,type(a),id(a))

set() <class 'set'> 1436882582912

In [124]:
a  = {23,True,3+4j,45.64,"Python","23",63.46,34.56,"Programming",False}
print(a,type(a),id(a),len(a))

{False, True, 34.56, 'Python', 'Programming', 45.64, (3+4j), 23, '23', 63.46} <class 'set'> 1436882575072 10

In [125]:
a = {1, 2, 3, 4, 5, 2, 3, 1, 5, 2, 5, 1, 4, 2, 5, 2}
print(a,len(a))

{1, 2, 3, 4, 5} 5

In [126]:
a = {"Python",True,False,23,1.0,0.0,"One",1,0,1.0}
print(a,len(a))

{False, True, 23, 'Python', 'One'} 5

In [127]:
a[2]

TypeError: 'set' object is not subscriptable

In [128]:
a[2:5]

TypeError: 'set' object is not subscriptable

In [129]:
print(a)

{False, True, 23, 'Python', 'One'}

In [130]:
a[2]=100

TypeError: 'set' object does not support item assignment

In [150]:
a  = {23,True,3+4j,45.64,"Python","23",63.46,34.56,"Programming",False}
print(a,type(a),id(a),len(a))

{False, True, 34.56, 'Python', 'Programming', 45.64, (3+4j), 23, '23', 63.46} <class 'set'> 1436885390880 10

In [132]:
a.add(9+3j)

In [133]:
print(a)

{False, True, 34.56, 'Python', 'Programming', 45.64, (3+4j), (9+3j), 23, '23', 63.46}

In [ ]:
a.clear()

In [134]:
a.remove(True)

In [135]:
print(a)

{False, 34.56, 'Python', 'Programming', 45.64, (3+4j), (9+3j), 23, '23', 63.46}

In [136]:
a.remove(True)

KeyError: True

In [137]:
a.discard(23)

In [138]:
print(a)

{False, 34.56, 'Python', 'Programming', 45.64, (3+4j), (9+3j), '23', 63.46}

In [139]:
a.discard(True)

In [140]:
a.pop()

False

In [149]:
a.pop()

KeyError: 'pop from an empty set'

In [151]:
b = {1,2,3,5,6}
a.update(b)
print(a)

{False, True, 34.56, 2, 3, 5, 6, 'Python', 'Programming', 45.64, (3+4j), 23, '23', 63.46}

In [152]:
c = a.union(b)
print(c,type(c))

{False, True, 2, 3, 5, 6, 'Python', (3+4j), 23, '23', 34.56, 'Programming', 45.64, 63.46} <class 'set'>

In [153]:
a = {10,20,30,40,50}
b = {60,70,80,20,40}
c = {20,30}
d = {110,120,80,130}
e = {10,20,30,40,50,60,70,80,90,100,110,120,130}

In [155]:
c = a.intersection(b)
print(c)

{40, 20}

In [156]:
a.intersection_update(b)
print(a)

{40, 20}

In [158]:
c = b.difference(d)
print(c)

{40, 20, 70, 60}

In [159]:
c = b.symmetric_difference(d)
print(c)

{130, 70, 40, 110, 20, 120, 60}

In [161]:
a = {10,20,30,40,50}
b = {60,70,80,20,40}
c = {20,30}
d = {110,120,80,130}
e = {10,20,30,40,50,60,70,80,90,100,110,120,130}

In [160]:
a.isdisjoint(b)

False

In [162]:
a.isdisjoint(d)

True

In [163]:
c.issubset(a)

True

In [164]:
a.issubset(c)

False

In [165]:
a.issuperset(c)

True