In [ ]:
##Q1) Predict the outcome of the following expressions:
Assume x = 10, y = 20, z = 5
q1. result = x + y * z - x // z + y % z     = 108 
q2. result = z and x or y and not x         =  10
q3. result = x | y & z ^ x << 2             =  46

Assume a = 3, b = 4, c = 7

q1. result = (a**b % c + c//b) >> 1         = 2
q2. result = ~a + b - c & b | a             = 3
q3. result = a > b < c and c == a * b // c  = false

In [5]:
x = 10
y = 20
z = 5

a= x + y * z - x // z + y % z
         #10+100-2+0
print(a)

108

In [11]:
b= z and x or y and not x  
    #5  10   20       10
print(b)

10

In [19]:
 a= x | y & z ^ x << 2 
       #30         40
print(a)

46

In [35]:
a = 3
b = 4
c = 7

z= (a**b % c + c//b) >> 1
        #4 + 1   >> 1
print(z)

2

In [57]:
 x= ~a + b - c & b | a
  #-4 +4-7=-7    0|3
print(x)

3

In [63]:
 z= a > b < c and c == a * b // c
 #    f     t        f       12//7=1

print(z)

False

In [ ]:
#Q2) Analyze the results of the following statements:
Assume p = 12, q = 15, r = 10

q1. output = p & q | r ^ p             =14
q2. output = p + q << r - p & q        = negative shift count
q3. output = q | p >> r and r          = 10
Assume m = 5, n = 9, o = 3

q1. output = m + ~n * o - n // o            =  -28
q2. output = m << n & o | n ^ o             = 10
q3. output = (m | n) and (o + n) or (m & o) = 12

In [127]:
p = 12
q = 15
r = 10

a= p & q | r ^ p

  #  12  15
print(a)

14

In [135]:
b= p + q << r - p & q 
print(b)
#print(27<<-2&15)

ValueError: negative shift count

In [97]:
b= q | p >> r and r 
      15>>r
print(b)

10

In [113]:
m = 5
n = 9
o = 3

a= m + ~n * o - n // o 
  #   5+   -30  -      3
print(a)

-28

In [133]:
 a= m << n & o | n ^ o 
  #    10      1  10
print(a)

10

In [137]:
b= (m | n) and (o + n) or (m & o)
   #  5            12       1
print(b)

12

In [ ]:
#Q3) Determine the results of the following:
Assume a = 5, b = 3, c = 8

q1. val = (a | b) and (c >> 1)       =4
q2. val = (c ^ a) > b or not c       = true
q3. val = a * (b + c) > c * (a - b)  = true
Assume x = 14, y = 7, z = 2

q1. val = x % z == y // z            = false
q2. val = x // y | z * 3             = 6
q3. val = x & y | z << 1             = 6

In [147]:
a = 5
b = 3
c = 8

b = (a | b) and (c >> 1)
     # 5            4
print(b)

4

In [165]:
x= (c ^ a) > b or not c  
  #  13    true
print(x)

True

In [167]:
 z= a * (b + c) > c * (a - b) 
   #    11 =55           2
print(z)

True

In [175]:
x = 14
y = 7
z = 2

b= x % z == y // z 
  #    0         3
print(b)

False

In [177]:
a= x // y | z * 3 
 #      2      3
print(a)

6

In [183]:
b= x & y | z << 1
  # 6
print(b)

6

In [ ]:
#Q4) Predict the result of the following expressions:
Assume a = 11, b = 2, c = 13

q1. out = (a << b) + (c >> b)       = 47
q2. out = a * c - b ** c // a       = -601
q3. out = (a ^ c) & (b | c)         =  6
Assume p = 16, q = 3, r = 9

q1. result = p * (q | r) and p ^ r  = 25
q2. result = ~p | q and r << 2      = 36
q3. result = p // r & q | p % q     = 1

In [189]:
a = 11
b = 2
c = 13

x= (a << b) + (c >> b)
  #   44   + 3
print(x)

47

In [208]:
y= a * c - b ** c // a 
   #  143 - 744
print(y)

-601

In [214]:
z= (a ^ c) & (b | c)  
   #  6        2
print(z)

6

In [218]:
p = 16
q = 3
r = 9

a= p * (q | r) and p ^ r
 #  48            25  
print(a)

25

In [226]:
b= ~p | q and r << 2
  #  -17        36
print(b)

36

In [234]:
c= p // r & q | p % q  
print(1&3)

1

In [ ]:
#Q5) Evaluate the following expressions and determine the output:
Assume x = 8, y = 4, z = 6

q1. res = x and y or z and not y     = 4
q2. res = x | z & y ^ x              = 4
q3. res = x + y * z // x % y         = 11
Assume m = 10, n = 5, o = 15

q1. res = (m + n) * o // (n | m)    =15
q2. res = o % m & n | m ^ o         = 5
q3. res = (m >> 2) << (n ^ o)       = 2048

In [236]:
x = 8
y = 4
z = 6

a= x and y or z and not y
  #4
print(a)

4

In [244]:
a= x | z & y ^ x
#   
print(z&y)

4

In [248]:
b= x + y * z // x % y
#             8   3
print(b)

11

In [256]:
m = 10
n = 5
o = 15

a= (m + n) * o // (n | m)
   #        225 // 15
print(a)

15

In [262]:
b= o % m & n | m ^ o

print(b)

5

In [272]:
c= (m >> 2) << (n ^ o)
  #   2          10
print(2<<10)

2048

In [ ]:
#Q6) Predict the result of the following expressions involving lists and operators:
Assume lst = [2, 4, 6, 8, 10]

q1. result = lst[2] * len(lst) - lst.count(4)     =29
q2. result = lst[0] + lst[-1] // lst[1] * 2       = 6
q3. result = lst[1:4][::-1] + lst[:2]             =[8, 6, 4, 2, 4]

Assume a = [1, 3, 5], b = [2, 4, 6]

q1. res = a * 2 + b * 3                          =[1, 3, 5, 1, 3, 5, 2, 4, 6, 2, 4, 6, 2, 4, 6]
q2. res = a[-1] + b[-2] - len(a) * len(b)       =  0
q3. res = a[1:] + b[:-1]                        = [3, 5, 2, 4]

In [274]:
lst = [2, 4, 6, 8, 10]

a= lst[2] * len(lst) - lst.count(4)
       # 6*5         30-1
print(a)

29

In [276]:
b= lst[0] + lst[-1] // lst[1] * 2
#     2                 8
print(b)

6

In [286]:
c= lst[1:4][::-1] + lst[:2]

print(c )

[8, 6, 4, 2, 4]

In [324]:
a = [1, 3, 5]
b = [2, 4, 6]

In [326]:
x= a * 2 + b * 3

print(x)

[1, 3, 5, 1, 3, 5, 2, 4, 6, 2, 4, 6, 2, 4, 6]

In [328]:
y=a[-1] + b[-2] - len(a) * len(b)
# 5 + 4 - 3 *3
# 5 +  4 - 9
# 9-9
print(y)

0

In [330]:
z= a[1:] + b[:-1]
print(z)

[3, 5, 2, 4]

In [ ]:
Q7) Determine the outcome of the following tuple operations:
Assume tup = (3, 6, 9, 12, 15)

q1. output = tup[1] * tup[3] - tup[-1]    =57
q2. output = tup[:3] + tup[3:]            = (3, 6, 9, 12, 15)
q3. output = tup.index(9) * tup.count(3)  = 2
Assume t1 = (7, 14), t2 = (21, 28, 35)

q1. output = t1 + t2 * 2                   =(7, 14, 21, 28, 35, 21, 28, 35)
q2. output = t2[1:] + t1[:1]               = (28, 35, 7)
q3. output = (t1[0] + t2[2]) // len(t2)    = 14

In [312]:
tup= (3, 6, 9, 12, 15)

a= tup[1] * tup[3] - tup[-1]
print(a)

57

In [314]:
a= tup[:3] + tup[3:]
print(a)

(3, 6, 9, 12, 15)

In [316]:
b= tup.index(9) * tup.count(3)  
print(b)

2

In [318]:
t1 = (7, 14)
t2 = (21, 28, 35)

c= t1 + t2 * 2
print(c)

(7, 14, 21, 28, 35, 21, 28, 35)

In [320]:
d= t2[1:] + t1[:1]  
print(d)

(28, 35, 7)

In [322]:
f= (t1[0] + t2[2]) // len(t2) 
print(f)

14

In [ ]:
Q8) Analyze the following dictionary operations:
Assume d = {'a': 1, 'b': 2, 'c': 3}

q1. result = d['b'] * d.get('c') - d['a']                       = 5
q2. result = len(d) + sum(d.values())                           = 9
q3. result = d.keys() & d.values()                              = set()
Assume dict1 = {'x': 10, 'y': 20}, dict2 = {'z': 30, 'y': 40}

q1. res = dict1['x'] + dict2.get('z') * dict1['y']              = 610
q2. res = dict1.keys() | dict2.keys()                           = {'y', 'z', 'x'}
q3. res = dict1.items() & dict2.items()                         = set()

In [5]:
d = {'a': 1, 'b': 2, 'c': 3}

a= d['b'] * d.get('c') - d['a']
       #2         3  =6   -   1
print(a)

5

In [7]:
b= len(d) + sum(d.values())
  #  3     +  6  =  9
print(b)

9

In [11]:
c= d.keys() & d.values()
#     a,b,c & 1,2,3
print(c)

set()

In [13]:
dict1 = {'x': 10, 'y': 20}
dict2 = {'z': 30, 'y': 40}

a= dict1['x'] + dict2.get('z') * dict1['y']
  #      10   +  30        *         20= 600+10
print(a)

610

In [15]:
b= dict1.keys() | dict2.keys()
   # x,y               z,y = x,y,z
print(b)

{'y', 'z', 'x'}

In [17]:
c= dict1.items() & dict2.items()
  #  
print(c)

set()

In [ ]:
#Q9) Evaluate the following set operations:
Assume s1 = {1, 2, 3, 4}, s2 = {3, 4, 5, 6}

q1. output = s1 | s2                        = {1, 2, 3, 4, 5, 6}
q2. output = s1 & s2                        = {3, 4}
q3. output = s1 - s2 | s2 - s1              = {1, 2, 5, 6}
Assume a = {10, 20, 30}, b = {20, 40, 60}

q1. res = a ^ b                             = {40, 10, 60, 30}
q2. res = (a | b) & (a - b)                 = {10, 30}
q3. res = len(a) * len(b) - sum(a & b)      = -11

In [33]:
s1 = {1, 2, 3, 4}
s2 = {3, 4, 5, 6}

print(s1 | s2)

{1, 2, 3, 4, 5, 6}

In [67]:
a= s1 - s2 | s2 - s1
 #   1,2   |  5,6
print(a)

{1, 2, 5, 6}

In [57]:
a = {10, 20, 30}
b = {20, 40, 60}

print( a ^ b)
#       10,30,40,60

{40, 10, 60, 30}

In [61]:
c= (a | b) & (a - b)
print(c)

{10, 30}

In [63]:
d= len(a) * len(b) - sum(a & b)
 #   3       3  =9-20
print(d)

-11

In [65]:
a=sum(a&b)
print(a)

20

In [ ]:
#Q10) Predict the result of combined operations on lists and dictionaries:
Assume lst = [1, 2, 3, 4], d = {'a': 10, 'b': 20}

q1. result = lst[1] * d['a'] + lst[-1] - d['b']           = 4
q2. result = lst[0] + d.get('b', 0) * len(lst)            = 81
q3. result = sum(lst) + d.get('a') - len(d)               = 18
Assume d1 = {'key1': 5, 'key2': 10}, lst1 = [1, 5, 10]   

q1. res = d1['key1'] * lst1[2] + d1['key2'] // lst1[0]    = 60
q2. res = sum(d1.values()) + max(lst1) - min(lst1)        = 24
q3. res = lst1.count(5) * len(d1) - d1['key2']            = -8

In [69]:
lst = [1, 2, 3, 4]
d = {'a': 10, 'b': 20}

a= lst[1] * d['a'] + lst[-1] - d['b']
  #  2     10  =20 +  4    -   20
print(a)

4

In [79]:
b= lst[0] + d.get('b', 0) * len(lst)          
#    1    + 20         *  4 =81
print(b)

81

In [87]:
c= sum(lst) + d.get('a') - len(d)
#     10           10          - 2
print(c)

18

In [91]:
d1 = {'key1': 5, 'key2': 10}
lst1 = [1, 5, 10]

a= d1['key1'] * lst1[2] + d1['key2'] // lst1[0]

#      5  *     10     +    10  //1
print(a)

60

In [95]:
b= sum(d1.values()) + max(lst1) - min(lst1)

#          15   +10   -  1
print(b)

24

In [97]:
c= lst1.count(5) * len(d1) - d1['key2']
#       1        * 2       - 10
print(c)

-8

In [ ]:
#Q11) Analyze the result of combining tuples, sets, and operators:
Assume tup = (2, 4, 6, 8), st = {1, 3, 5, 7}

q1. output = tup[1] * max(st) - tup[-1]      = 20
q2. output = len(tup) + sum(st) // min(tup)  = 12
q3. output = set(tup) & st                   = set()
Assume t1 = (10, 20), s1 = {15, 25, 35}

q1. res = t1[0] + len(s1) * max(t1)          = 70
q2. res = sum(t1) + min(s1) - max(t1)        = 25
q3. res = t1[1] * len(s1) - sum(s1)          = -15

In [101]:
tup = (2, 4, 6, 8)
st = {1, 3, 5, 7}

a= tup[1] * max(st) - tup[-1]
 #    4   * 7       -  8
print(a)

20

In [111]:
b= len(tup) + sum(st) // min(tup)

#     4     +  16     // 2
print(b)

12

In [113]:
c= set(tup) & st
print(c)

set()

In [115]:
t1 = (10, 20)
s1 = {15, 25, 35}

a= t1[0] + len(s1) * max(t1)
  #   10 + 3       * 20
print(a)

70

In [119]:
b= sum(t1) + min(s1) - max(t1)
  #   30  +  15     - 20
print(b)

25

In [123]:
c= t1[1] * len(s1) - sum(s1)

#     20 *   3  - 75
print(c)

-15